{% extends "main/header.html" %}

{% block content %}
    {% for tut in tutorials %}
        <div class="container">
            <br>
            <div class="card" style="background-color: turquoise;">
                <div class="card-content">
                    <p class="title">{{tut.title}}</p>
                    <p class="subtitle">{{tut.published}}</p>
                    <hr>
                    <p>{{tut.description}}</p>
                </div>
            </div>
            <br>
        </div>
    {% endfor %}
{% endblock %}
