{% extends "main/header.html" %}
{% load static %}
{% load filters %}

{% block title %}
    Login -
{% endblock %}

{% block styles %}
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock %}

{% block content %}
    <section class="hero is-success is-fullheight">
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="column is-4 is-offset-4">
                    <h3 class="title has-text-black">Login</h3>
                    <hr class="login-hr">
                    <p class="subtitle has-text-black">Please login to proceed.</p>
                    <div class="box">
                        <figure class="avatar">
                            <img src="{% static 'img/code.png' %}">
                        </figure>
                        <form method="POST">
                            {% csrf_token %}
                            <div class="field">
                                <label class="label">Username</label>
                                <div class="control has-icons-left">
                                    {{form.username|addclass:'input is-large'}}
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-user"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="field">
                                <label class="label">Password</label>
                                <div class="control has-icons-left">
                                    {{form.password|addclass:'input is-large'}}
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-lock"></i>
                                    </span>
                                </div>
                            </div>
                            {% comment %} <div class="field">
                                <label class="checkbox">
                                    <input type="checkbox">
                                    Remember me
                                </label>
                            </div> {% endcomment %}
                            <button type="submit" class="button is-block is-info is-large is-fullwidth">
                                Login 
                                <i class="fas fa-sign-in-alt" aria-hidden="true"></i>
                            </button>
                        </form>
                    </div>
                    <p class="has-text-grey">
                        <a href="/register/">Sign Up</a> &nbsp;·&nbsp;
                        <a href="../">Forgot Password</a> &nbsp;·&nbsp;
                        <a href="../">Need Help?</a>
                    </p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}